<h2 class="text-center m-3">All our Flats(<%= @flats.count%>)</h2>
<div class="row">
 <% @flats.each do |flat| %>
  <div class="col-sm-3">
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" class="display-2"><%= flat.name %></h5>
        <p class="card-text" class="display-4"><%= flat.address %></p>
        <p class="card-text" class="display-4"><%= flat.description %></p>
        <div class="d-flex d-inline p-2">
          <i class="fa-solid fa-money-check-dollar m-3"></i><%= flat.price_per_night %>
          <br>
          <i class="fa-solid fa-person m-3"></i><%= flat.number_of_guests %>
        </div>
        <button type="button" class="btn btn-outline-primary">
          <%= link_to "More Info", flat_path(flat) %>
        </button>
      </div>
    </div>
  </div>
 <% end %>
</div>
<button type="button" class="btn btn-outline-primary">
  <%= link_to "add a new flat", new_flat_path(@flat)%>
</button>
